<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <!-- Patterns based on https://github.com/spring-projects/spring-boot/blob/v3.0.0/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <conversionRule conversionWord="crlf" converterClass="com.sbm.mc.sevenroomstoreviewpro.config.CRLFLogConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <!--
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } &#45;&#45;&#45; [%t] %-40.40logger{39} : %crlf(%m) %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <!--
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="${logging.level.root}">
        <appender-ref ref="ASYNC"/>
    </root>
    -->

    <logger name="com.sbm.mc.sevenroomstoreviewpro" level="INFO"/>

    <logger name="angus.activation" level="WARN"/>
    <logger name="jakarta.activation" level="WARN"/>
    <logger name="jakarta.mail" level="WARN"/>
    <logger name="jakarta.management.remote" level="WARN"/>
    <logger name="jakarta.xml.bind" level="WARN"/>
    <logger name="jdk.event.security" level="INFO"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="io.swagger.v3" level="INFO"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="Validator" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>


    <springProperty name="version" source="project.version"/>
    <springProperty name="spring.profiles.active" source="spring.profiles.active"/>
    <springProperty scope="context" name="kafka.bootstrap.servers" source="spring.kafka.bootstrap-servers"/>
    <springProperty scope="context" name="kafka.logs.topic" source="spring.kafka.topics.logs-topic"/>
    <springProperty scope="context" name="kafka.sasl.mechanism" source="spring.kafka.properties.sasl.mechanism"/>
    <springProperty scope="context" name="kafka.sasl.jaas.config" source="spring.kafka.properties.sasl.jaas.config"/>
    <springProperty scope="context" name="kafka.security.protocol" source="spring.kafka.properties.security.protocol"/>
    <springProperty scope="context" name="kafka.ssl.sslTruststoreLocation" source="spring.kafka.properties.ssl.sslTruststoreLocation"/>

    <property name="trustStorePassword" value="${javax.net.ssl.trustStorePassword}"/>


    <appender name="kafka-appender" class="com.sbm.mc.sevenroomstoreviewpro.logs.KafkaLogbackAppender">
        <BrokerList>${kafka.bootstrap.servers}</BrokerList>
        <Topic>${kafka.logs.topic}</Topic>

        <SecurityProtocol>${kafka.security.protocol}</SecurityProtocol>
        <saslMechanism>${kafka.sasl.mechanism}</saslMechanism>
        <clientJaasConf>${kafka.sasl.jaas.config}</clientJaasConf>
        <sslTruststoreLocation>${kafka.ssl.sslTruststoreLocation}</sslTruststoreLocation>
        <sslTruststorePassword>${trustStorePassword}</sslTruststorePassword>
        <compressionType>gzip</compressionType>

        <SyncSend>false</SyncSend>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <customFields>{"appname":"SevenroomsToReviewpro","env":"${spring.profiles.active}","bootstrap_servers":"${kafka.bootstrap.servers}","logs_topic":"${kafka.logs.topic}"}</customFields>
            <version>${version}</version>
        </encoder>
    </appender>

    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO" />
    <root level="${log.level}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="kafka-appender"/>
    </root>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
